Repository Akshay-Vs/Artimis-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: version bump
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix: fixed DropDown not exported
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/index.ts
Due: eslint --fix

feat: version bump: patch
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix: fixed DropDown import
  packages/ui/app/App.tsx
Due: eslint --fix

feat: added Input and Text components, Minor updates on DropDown and Button
  packages/ui/app/App.tsx
  packages/ui/components/Button/Button.tsx
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/DropDown/Options.tsx
  packages/ui/components/Input/Input.tsx
  packages/ui/components/Typography/Text.tsx
Due: eslint --fix

feat: added Product Card
  packages/ui/app/App.tsx
  packages/ui/components/Button/Button.tsx
  packages/ui/components/Cards/ProductCard.tsx
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/index.ts
Due: eslint --fix

feat: v0.0.4
  packages/ui/app/App.tsx
  packages/ui/components/Button/Button.stories.ts
  packages/ui/components/Input/Input.tsx
  packages/ui/vite.config.ts.timestamp-1719128677134-c13174d8e6d81.mjs
Due: eslint --fix

feat: version bump: patch
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix: fixed size not filling
  packages/ui/components/Cards/ProductCard.tsx
  packages/ui/package.json
Due: eslint --fix, prettier --write

fix(card): fixed classnames not applying, size not matching
  packages/ui/CHANGELOG.md
  packages/ui/app/App.tsx
  packages/ui/app/ProductCard.tsx
  packages/ui/app/Products.tsx
  packages/ui/components/Cards/ProductCard.tsx
Due: eslint --fix

feat: version bump
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

feat(ProductCard): code rafactor, fixed known bugs
  packages/ui/components/Cards/ProductCard.tsx
Due: eslint --fix

feat(ui/card): renamed productCard -> Card
  examples/ecommerce-demo-1/components/common/Button/Button.tsx
  examples/ecommerce-demo-1/components/common/Button/ButtonCVA.tsx
  examples/ecommerce-demo-1/components/common/Card/ProductCard.tsx
  examples/ecommerce-demo-1/components/common/DropDown/DropDownSelect.tsx
  examples/ecommerce-demo-1/components/common/Typography/Text.tsx
  examples/ecommerce-demo-1/components/common/index.ts
  examples/ecommerce-demo-1/components/layout/Header/Nav.tsx
  examples/ecommerce-demo-1/components/specific/Home/Hero/Carousel/Carousel1.tsx
  examples/ecommerce-demo-1/components/specific/Home/Hero/Carousel/Carousel2.tsx
  examples/ecommerce-demo-1/components/specific/Home/Hero/CursorFollowButton.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/NewArrivals.tsx
  packages/ui/app/App.tsx
  packages/ui/app/ProductCard.tsx
  packages/ui/app/Products.tsx
  packages/ui/components/Cards/Card.tsx
  packages/ui/components/index.ts
Due: eslint --fix

refactor(newArrivals): refactored to use map to render products
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/NewArrivals.tsx
Due: none

refactor: improved code readability, reusability and enforced SOLID principles
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/Header.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/NewArrivals.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/ProductScroll.tsx
  examples/ecommerce-demo-1/libs/index.ts
  examples/ecommerce-demo-1/libs/scrollBy.ts
Due: none

refactor: improved code readability, reusability and enforced SOLID principles
  examples/ecommerce-demo-1/components/common/Card/ProductCard.tsx
Due: none

feat: added offers component
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
  examples/ecommerce-demo-1/components/specific/Home/Offers/ProductCard.tsx
  examples/ecommerce-demo-1/components/specific/index.ts
  examples/ecommerce-demo-1/next.config.mjs
Due: none

feat: migrated to turborepo 2.6
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(productCard): updated productCard, added features
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
  examples/ecommerce-demo-1/components/specific/Home/Offers/ProductCard.tsx
  examples/ecommerce-demo-1/next.config.mjs
Due: none

ci: added changeset publish workflow
  .github/task.yaml
Due: none

ci: added changeset publish workflow
  .github/release.yaml
Due: none

ci: added changeset publish workflow
  .github/workflows/release.yaml
Due: none

Update release.yaml
  .github/workflows/release.yaml
Due: none

fix: changed package manager yarn -> pnpm
  .github/workflows/release.yaml
Due: none

ci: added changeset publish workflow
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

Update publish.yaml
  .github/workflows/publish.yaml
Due: none

Delete .github/workflows/publish.yaml
  .github/workflows/publish.yaml
Due: none

Create publish.yml
  .github/workflows/publish.yml
Due: none

feat: version bump: patch
  .changeset/spicy-mugs-fly.md
  packages/ui/package.json
Due: prettier --write

ci: main ci workflow setup, publish workflow setup
  .github/workflows/main.yml
  examples/ecommerce-demo-1/package.json
Due: prettier --write

ci: main ci workflow setup, publish workflow setup
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

ci: main ci workflow setup, publish workflow setup
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

ci: fixed build pipeline
  .github/workflows/publish.yml
  package.json
Due: prettier --write

ci: added child process: changeset-version
  .github/changeset-version.js
Due: none

ci: fixed build pipeline
  .github/changeset-version.js
  .github/workflows/publish.yml
Due: none

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
