Repository Akshay-Vs/Artimis-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: added collections & works section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/Section/Section.tsx
  examples/ecom-furniture-store/components/common/SectionCarousel/SectionCarousel.tsx
  examples/ecom-furniture-store/components/common/index.ts
  examples/ecom-furniture-store/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/Collections.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/InteriorCollections.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/RoomCollections.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/WorksImage.tsx
  examples/ecom-furniture-store/components/specific/SmoothScroll/ecom-clothing-store.code-workspace
  examples/ecom-furniture-store/components/specific/index.ts
  examples/ecom-furniture-store/next.config.mjs
Due: none

fix: fixed missing key error
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
Due: none

feat: added sections, refactored code, improved reusability
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/Carousel/Carousel.tsx
  examples/ecom-furniture-store/components/common/Section/Section.tsx
  examples/ecom-furniture-store/components/common/index.ts
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/InteriorCollections.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/RoomCollections.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
  examples/ecom-furniture-store/components/specific/index.ts
  examples/ecom-furniture-store/next.config.mjs
Due: none

feat: improved code reusability
  examples/ecom-furniture-store/components/common/TextBlock/TextBlock.tsx
  examples/ecom-furniture-store/components/common/index.ts
  examples/ecom-furniture-store/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
Due: none

feat: added sections, refactored code, improved reusability
  examples/ecom-furniture-store/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
Due: none

feat: added categories section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/specific/Home/Categories/Categories.tsx
  examples/ecom-furniture-store/components/specific/Home/Categories/CategoriesCard.tsx
  examples/ecom-furniture-store/components/specific/index.ts
Due: none

feat(home): added sections
  examples/ecom-furniture-store/app/layout.tsx
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/specific/Footer/Footer.tsx
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
  examples/ecom-furniture-store/components/specific/Home/ProductsGrid/ProductsGrid.tsx
  examples/ecom-furniture-store/components/specific/index.ts
Due: none

chore: pnpm upgrade
  examples/ecom-furniture-store/components/specific/Footer/Footer.tsx
  package.json
  packages/ui/components/Column/Column.tsx
  packages/ui/components/Row/Row.tsx
  packages/ui/components/Typography/Text.tsx
Due: eslint --fix, prettier --write

feat: added Flex component
  packages/ui/components/Flex/Flex.tsx
  packages/ui/components/index.ts
Due: eslint --fix

chore: changeset version
  .changeset/smooth-kiwis-brake.md
Due: none

feat: upgraded to ui@1.1.13 and fixed breaking changes
  apps/docs/package.json
  examples/ecom-furniture-store/components/common/ProductCard/ProductName.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductPrice.tsx
  examples/ecom-furniture-store/components/common/Section/Section.tsx
  examples/ecom-furniture-store/components/common/TextBlock/TextBlock.tsx
  examples/ecom-furniture-store/components/specific/Home/Categories/CategoriesCard.tsx
  examples/ecom-furniture-store/components/specific/Home/ProductsGrid/ProductsGrid.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
  examples/ecom-furniture-store/components/specific/Navbar/Navbar.tsx
  examples/ecom-furniture-store/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: -r ecom added footer
  examples/ecom-furniture-store/components/specific/Footer/Footer.tsx
  examples/ecom-furniture-store/components/specific/Footer/FooterLinksGroup.tsx
Due: none

feat: -r ecom added 404 page
  examples/ecom-furniture-store/app/not-found.tsx
Due: none

feat: changed Button component to accept tailwind configured colors
  packages/ui/app/App.tsx
  packages/ui/components/Button/Button.tsx
  packages/ui/tailwind.config.js
  packages/ui/tailwind.scss
Due: eslint --fix

feat: -r ecom minor tweaks
  examples/ecom-furniture-store/components/specific/Footer/Footer.tsx
  examples/ecom-furniture-store/components/specific/SmoothScroll/ecom-clothing-store.code-workspace
Due: none

feat: -r ui added config types
  packages/ui/types/base.ts
  packages/ui/types/styleConfig.ts
Due: eslint --fix

feat: -r ui added types dir to include array
  packages/ui/tsconfig.json
Due: prettier --write

feat: -r ui added config types
  packages/ui/types/styleConfig.ts
Due: eslint --fix

feat(example-2): responsiveness update: navbar & hero section
  examples/ecom-furniture-store/app/globals.scss
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/specific/Home/Hero/Hero.tsx
  examples/ecom-furniture-store/components/specific/Navbar/NavLinks.tsx
  examples/ecom-furniture-store/components/specific/Navbar/NavMenu.tsx
  examples/ecom-furniture-store/components/specific/Navbar/Navbar.tsx
  examples/ecom-furniture-store/hooks/index.ts
  examples/ecom-furniture-store/hooks/useScroll.ts
  examples/ecom-furniture-store/hooks/useWindowSize.ts
  examples/ecom-furniture-store/package.json
  examples/ecom-furniture-store/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat(example-2): responsiveness update: product section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/Carousel/Carousel.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductCard.tsx
  examples/ecom-furniture-store/components/common/Section/Section.tsx
  examples/ecom-furniture-store/components/specific/Home/Hero/Hero.tsx
Due: none

feat(example-2): responsiveness update: product section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/Carousel/Carousel.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductCard.tsx
  examples/ecom-furniture-store/components/common/Section/Section.tsx
Due: none

feat(example-2): responsiveness update: about us & works
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/TextBlock/TextBlock.tsx
  examples/ecom-furniture-store/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
  examples/ecom-furniture-store/components/specific/Home/Hero/Hero.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/Works.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/WorksImage.tsx
Due: none

feat(example-2): responsiveness update: about us & works
  examples/ecom-furniture-store/components/specific/Home/BoughtTogether/BoughtTogether.tsx
  examples/ecom-furniture-store/components/specific/Home/Works/WorksImage.tsx
Due: none

feat: added 0.1.12 support
  packages/ui/components/Button/Button.stories.ts
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/Input/Input.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
