Repository Akshay-Vs/Artimis-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: added pre-push hook
  .husky/pre-push
Due: none

fix: fixed typo @ workspace config
  packages/ui/package.json
Due: prettier --write

feat: lockfile updated
  pnpm-lock.yaml
Due: none

fix: fixed husky installing on production
  package.json
Due: prettier --write

feat: added husky in dev deps
  package.json
Due: prettier --write

fix: fixed typo @repo -> @artimisjs
  apps/docs/.eslintrc.js
Due: eslint --fix

feat: config
  .github/task.yaml
  examples/.nodata
Due: none

feat: added storybook & config
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  packages/ui/components/HelloWorld/HelloWorld.stories.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: added basic components
  package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/components/Button/Button.stories.ts
  packages/ui/components/Button/Button.tsx
  packages/ui/components/DropDown/DropDownSelect.tsx
  packages/ui/components/Icons/Hamburger.tsx
  packages/ui/components/Input/Input.tsx
  packages/ui/components/Typography/Text.tsx
  packages/ui/components/index.ts
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/index.scss
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: added basic components
  packages/ui/.storybook/preview.ts
  packages/ui/components/DropDown/DropDownSelect.tsx
  packages/ui/components/Icons/Hamburger.tsx
  packages/ui/components/Input/Input.tsx
  packages/ui/components/index.ts
  packages/ui/package.json
  packages/ui/src/index.scss
  packages/ui/src/main.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: global.scss
  packages/ui/global.scss
Due: none

feat(artimisjs/ui): added cn utility function
  package.json
  packages/ui/components/Button/Button.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write

feat(artimisjs/ui): added cn utility function
  packages/ui/utils/cn.ts
Due: eslint --fix

feat: added artimis core project w tsup
  packages/core/.eslintrc.cjs
  packages/core/.gitignore
  packages/core/.tsup.config.ts
  packages/core/package.json
  packages/core/src/ArtimisCore/ArtimisCore.tsx
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.node.json
Due: prettier --write

feat: components update, moved src -> app, moved index.html -> app' tweaked bundle config
  packages/ui/app/App.tsx
  packages/ui/app/index.html
  packages/ui/app/main.tsx
  packages/ui/components/Button/Button.tsx
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: added artimis core
  packages/core/src/ArtimisCore/ArtimisCore.tsx
  packages/core/src/Providers/DataProvider.tsx
  packages/core/src/Providers/StyleProvider.tsx
  packages/core/src/types/ContextType.ts
  packages/core/src/types/ProviderType.ts
  packages/core/src/types/index.ts
  packages/core/tsconfig.json
Due: prettier --write

fix: fixed linting error
  packages/core/src/Providers/DataProvider.tsx
Due: none

fix: minor fix in Provider Type
  packages/core/src/Providers/DataProvider.tsx
  packages/core/src/Providers/StyleProvider.tsx
  packages/core/src/types/index.ts
Due: none

fix: minor fix in Provider Type
  packages/core/src/types/index.ts
Due: none

feat: @artimis/core first release v0.0.1
  .changeset/sixty-lobsters-talk.md
Due: none

feat: @artimis/core first release v0.0.1
  packages/core/package.json
Due: prettier --write

fix: fixed dependency not found
  packages/core/package.json
Due: prettier --write

fix: patch 0.0.2
  packages/core/package.json
Due: prettier --write

chore: pnpm lock sync
  pnpm-lock.yaml
Due: none

fix: fixed styles not exporting
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  package.json
  packages/core/.eslintrc.cjs
  packages/core/.tsup.config.ts
  packages/core/package.json
  packages/core/src/ArtimisCore/ArtimisCore.tsx
  packages/core/src/Providers/DataProvider.tsx
  packages/core/src/Providers/StyleProvider.tsx
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.node.json
  packages/ui/.eslintrc.cjs
  packages/ui/components/index.ts
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/tailwind.config.js
  packages/ui/tailwind.scss
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(@rtimis core): migrated bundler to vite
  packages/core/index.html
  packages/core/package.json
  packages/core/tsconfig.app.json
  packages/core/tsconfig.json
  packages/core/tsconfig.node.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

feat: added @artimisjs/core
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added vite quick test env
  packages/core/index.html
  packages/core/package.json
Due: prettier --write

feat: added vite quick test env
  packages/core/app/App.tsx
  packages/core/app/main.tsx
Due: none

feat: added Styles Provider, ArtimisCore and Data Provider
  packages/core/app/App.tsx
  packages/core/app/ChildComponent.tsx
  packages/core/app/themeContext.ts
  packages/core/src/ArtimisCore/ArtimisCore.tsx
  packages/core/src/Contexts/DataContext.tsx
  packages/core/src/Contexts/StyleContext.tsx
  packages/core/src/Providers/DataProvider.tsx
  packages/core/src/Providers/StyleProvider.tsx
  packages/core/src/hooks/useStyle.ts
  packages/core/src/types/ContextType.ts
  packages/core/src/types/ProviderType.ts
  packages/core/src/types/StyleType.ts
  packages/core/src/types/index.ts
Due: none

feat: changeset version update
  .changeset/sixty-lobsters-talk.md
  .changeset/three-panthers-divide.md
  apps/docs/package.json
  packages/core/package.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
  packages/ui/package.json
Due: prettier --write

feat: changeset version update
  apps/docs/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: none

chore: changed access to public
  packages/core/package.json
Due: prettier --write

fix: fixed dependency error: moved clsx, cv to deps from dev deps
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: patch 0.1.2
  packages/ui/package.json
Due: prettier --write

feat: patch 0.2.0
  apps/docs/CHANGELOG.md
  apps/docs/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/package.json
Due: prettier --write

fix: changed workspace deps to npm @artimisjs/ui & @artimisjs/core
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added dropdown component
  packages/core/app/ChildComponent.tsx
  packages/core/src/components/ArtimisCore/ArtimisCore.tsx
  packages/core/src/components/index.ts
  packages/core/src/config/Style.default.ts
  packages/core/src/contexts/DataContext.tsx
  packages/core/src/contexts/StyleContext.tsx
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useStyle.ts
  packages/core/src/index.ts
  packages/core/src/types/ContextType.ts
  packages/core/src/types/index.ts
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/core/vite.config.ts.timestamp-1719128676999-ee6cc289e65a9.mjs
  packages/ui/app/App.tsx
  packages/ui/app/main.tsx
  packages/ui/components/Button/Button.tsx
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/DropDown/DropDownSelect.tsx
  packages/ui/components/DropDown/Options.tsx
  packages/ui/components/Typography/Text.tsx
  packages/ui/components/index.ts
  packages/ui/package.json
  packages/ui/vite.config.ts.timestamp-1719128677134-c13174d8e6d81.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: lockfile sync
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
