Repository Akshay-Vs/Artimis-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: added changeset scripts for ci
  package.json
Due: prettier --write

fix: fixed non conventional commit message
  .github/workflows/publish.yml
Due: none

chore: version release: patch
  .changeset/spicy-mugs-fly.md
Due: none

chore: version release: patch
  .changeset/five-waves-flow.md
Due: none

ci: changed workflow to make new branch before pushing
  .github/workflows/publish.yml
Due: none

chore: version update
  .changeset/five-waves-flow.md
  .github/workflows/publish.yml
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

chore: lockfile sync
  pnpm-lock.yaml
Due: none

chore: lockfile sync
  examples/ecommerce-demo-1/package.json
Due: prettier --write

feat(component): added ProductCardFull
  examples/ecommerce-demo-1/components/common/Card/ProductCardFull.tsx
  examples/ecommerce-demo-1/components/common/index.ts
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
Due: none

feat(offers): added array of hex values for colors
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
Due: none

feat: enhance responsiveness for mobile devices and small screens
  examples/ecommerce-demo-1/app/globals.scss
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/common/Card/ProductCard.tsx
  examples/ecommerce-demo-1/components/common/Card/ProductCardFull.tsx
  examples/ecommerce-demo-1/components/common/Icons/Hamburger.tsx
  examples/ecommerce-demo-1/components/layout/Header/FilterBar.tsx
  examples/ecommerce-demo-1/components/layout/Header/Header.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/Header.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/ProductScroll.tsx
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
Due: none

feat: enhance responsiveness for mobile devices and small screens
  examples/ecommerce-demo-1/components/common/Card/ProductCardFull.tsx
Due: none

feat(promo): added promo section with video player
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/common/Video/Video.tsx
  examples/ecommerce-demo-1/components/common/index.ts
  examples/ecommerce-demo-1/components/specific/Home/Offers/Offers.tsx
  examples/ecommerce-demo-1/components/specific/Home/Promo/Promo.tsx
  examples/ecommerce-demo-1/components/specific/index.ts
Due: none

feat(@artimisjs/ui): added circle & video components
  packages/ui/components/Circle/Circle.tsx
  packages/ui/components/Video/Video.tsx
Due: eslint --fix

feat(@artimisjs/ui): fixed lint errors for newly added components
  packages/ui/components/Circle/Circle.tsx
  packages/ui/components/Video/Video.tsx
  packages/ui/components/index.ts
Due: eslint --fix

feat(@artimis/ui): added lenis smooth scroll component
  examples/ecommerce-demo-1/app/artimis.tsx
  examples/ecommerce-demo-1/components/specific/Home/Promo/Promo.tsx
  examples/ecommerce-demo-1/package.json
  packages/ui/components/SmoothScroll/SmoothScroll.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(demo-1): added categories
  examples/ecommerce-demo-1/app/globals.scss
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/layout/SmoothScroll/SmoothScroll.tsx
  examples/ecommerce-demo-1/components/specific/Home/Categories/Categories.scss
  examples/ecommerce-demo-1/components/specific/Home/Categories/Categories.tsx
  examples/ecommerce-demo-1/components/specific/index.ts
Due: none

feat(@artimisjs/ui): added column component
  examples/ecommerce-demo-1/app/page.tsx
  examples/ecommerce-demo-1/components/specific/index.ts
  packages/ui/components/Button/Button.tsx
  packages/ui/components/Cards/Card.tsx
  packages/ui/components/Circle/Circle.tsx
  packages/ui/components/Column/Column.tsx
  packages/ui/components/DropDown/DropDown.tsx
  packages/ui/components/Input/Input.tsx
  packages/ui/components/Video/Video.tsx
Due: eslint --fix

feat(@artimisjs/ui): added row component
  packages/ui/components/Row/Row.tsx
Due: eslint --fix

chore: changeset version
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: prettier --write

fix: fixed lint errors & type exports
  packages/ui/app/App.tsx
  packages/ui/components/Cards/Card.tsx
  packages/ui/components/Column/Column.tsx
  packages/ui/components/Row/Row.tsx
  packages/ui/components/index.ts
Due: eslint --fix

feat: @artimisjs/ui upgrade 0.1.7 -> 0.1.8
  examples/ecommerce-demo-1/components/common/Card/ProductCardFull.tsx
  examples/ecommerce-demo-1/components/layout/Header/FilterBar.tsx
  examples/ecommerce-demo-1/components/layout/Header/Nav.tsx
  examples/ecommerce-demo-1/components/specific/Home/Exclusive/Exclusive.tsx
  examples/ecommerce-demo-1/components/specific/Home/Hero/CursorFollowButton.tsx
  examples/ecommerce-demo-1/components/specific/Home/Hero/Hero.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/Header.tsx
  examples/ecommerce-demo-1/components/specific/Home/NewArrivals/ProductScroll.tsx
  examples/ecommerce-demo-1/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(productCard): fixed no key found build error
  examples/ecommerce-demo-1/components/common/Card/ProductCardFull.tsx
Due: none

fix: package refferenced to monorepo
  examples/ecommerce-demo-1/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: changed remote libraries to refference monorepo
  apps/docs/package.json
  examples/ecommerce-demo-1/.npmrc
  examples/ecommerce-demo-1/.nvmrc
  examples/ecommerce-demo-1/app/artimis.tsx
  examples/ecommerce-demo-1/app/page.tsx
  packages/core/.eslintrc.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: fixed breaking changes @artimisjs/ui 0.1.7
  apps/docs/app/page.tsx
Due: eslint --fix

chore: engine strict pnpm@9.4.0
  apps/docs/app/.npmrc
  apps/docs/app/.nvmrc
  apps/docs/package.json
Due: prettier --write

fix: fixed breaking changes @artimisjs/ui 0.1.7
  apps/docs/package.json
  examples/ecommerce-demo-1/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fixed breaking changes @artimisjs/ui 0.1.7
  examples/ecommerce-demo-1/app/artimis.tsx
Due: none

feat(examples): added artimis-demo-2
  examples/artimis-demo-2/.eslintrc.json
  examples/artimis-demo-2/.gitignore
  examples/artimis-demo-2/README.md
  examples/artimis-demo-2/app/favicon.ico
  examples/artimis-demo-2/app/globals.css
  examples/artimis-demo-2/app/layout.tsx
  examples/artimis-demo-2/app/page.tsx
  examples/artimis-demo-2/next.config.mjs
  examples/artimis-demo-2/package.json
  examples/artimis-demo-2/postcss.config.mjs
  examples/artimis-demo-2/public/next.svg
  examples/artimis-demo-2/public/vercel.svg
  examples/artimis-demo-2/tailwind.config.ts
  examples/artimis-demo-2/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: lock file sync
  pnpm-lock.yaml
Due: none

fix: fixed typo
  examples/ecommerce-1/components/common/Icons/Hamburger.tsx
Due: none

feat: added artimis favicon
  apps/docs/app/favicon.ico
  examples/ecommerce-1/app/favicon.ico
  examples/ecommerce-1/app/page.tsx
  examples/ecommerce-1/components/specific/Home/Exclusive/Exclusive.tsx
  examples/ecommerce-1/components/specific/index.ts
Due: none

feat(ecommerce-1): added about us section
  examples/ecommerce-1/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecommerce-1/components/specific/Home/AboutUs/StayInTouch.tsx
Due: none

feat(ecommerce-1): added about us section
  examples/ecommerce-1/components/specific/Home/AboutUs/AboutUs.tsx
Due: none

ci: added build and release workflows
  .github/workflows/build-packages.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore(ecommerce-1): removed unwanted scripts from package.json
  examples/ecommerce-1/package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: apps/**/*.{js,ts,jsx,tsx}) or (any of: packages/ui/**/*.{js,ts,jsx,tsx})
  prettier --write: any of: *.json
