Repository Akshay-Vs/Artimis-Js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "packages/ui/**/*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.json": ["prettier --write"]
}

chore: lockfile sync
  pnpm-lock.yaml
Due: none

ci: build workflow, updated target runtime
  .github/workflows/build-packages.yml
Due: none

ci: build workflow updated workflow name
  .github/workflows/build-packages.yml
Due: none

chore: changeset version
  .changeset/witty-singers-grow.md
Due: none

ci: added conventional commit changeset action
  .github/workflows/release.yml
Due: none

chore: chagneset version
  .changeset/hot-grapes-brake.md
Due: none

ci: added conventional commit
  .github/workflows/release.yml
Due: none

chore: updated package details
  package.json
  packages/core/package.json
  packages/ui/package.json
Due: prettier --write

chore: changeset version
  .changeset/breezy-berries-care.md
Due: none

chore: migrated github package registry to npm
  packages/core/package.json
  packages/ui/package.json
Due: prettier --write

ci: added turborepo remote cache
  .github/workflows/build-packages.yml
Due: none

feat(core): added token types
  packages/core/src/types/StyleType.ts
Due: none

feat(core): added token types
  packages/core/app/App.tsx
Due: none

feat(core): updated token types
  packages/core/app/App.tsx
  packages/core/src/config/Style.default.ts
  packages/core/src/types/StyleType.ts
Due: none

feat(core): updated token types
  packages/core/src/contexts/StyleContext.tsx
Due: none

feat: improved code quality, added interactivity to cards
  examples/ecommerce-1/components/specific/Home/Categories/Categories.scss
  examples/ecommerce-1/components/specific/Home/Categories/Categories.tsx
Due: none

fix: minor change - fixed typo
  examples/ecommerce-1/components/common/Video/Video.tsx
  examples/ecommerce-1/components/common/index.ts
  examples/ecommerce-1/components/specific/Home/Promo/Promo.tsx
Due: none

fix(ui/video): fixed forward ref warning
  packages/ui/components/Video/Video.tsx
Due: eslint --fix

feat(ecommerce-1): added footer section
  examples/ecommerce-1/components/common/Input/Input.tsx
  examples/ecommerce-1/components/specific/Home/AboutUs/AboutUs.tsx
Due: none

feat(ecommerce-1): added footer section
  examples/ecommerce-1/components/specific/Home/Footer/Footer.tsx
Due: none

fix: fixed import from local instead of @artimisjs/ui
  examples/ecommerce-1/components/layout/Header/FilterBar.tsx
Due: none

feat: adde promo video scaleup animation
  examples/ecommerce-1/components/specific/Home/Promo/Promo.tsx
  examples/ecommerce-1/package.json
  packages/ui/components/Video/Video.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: adde promo video scaleup animation
  examples/ecommerce-1/components/specific/Home/Offers/Offers.tsx
  examples/ecommerce-1/components/specific/Home/Promo/Promo.tsx
Due: none

feat: improved animations
  examples/ecommerce-1/components/specific/Home/Promo/Promo.tsx
Due: none

feat: initialised new example project
  examples/ecom-furniture-store/.eslintrc.json
  examples/ecom-furniture-store/.gitignore
  examples/ecom-furniture-store/README.md
  examples/ecom-furniture-store/app/favicon.ico
  examples/ecom-furniture-store/app/globals.css
  examples/ecom-furniture-store/app/layout.tsx
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/next.config.mjs
  examples/ecom-furniture-store/package.json
  examples/ecom-furniture-store/postcss.config.mjs
  examples/ecom-furniture-store/public/next.svg
  examples/ecom-furniture-store/public/vercel.svg
  examples/ecom-furniture-store/tailwind.config.ts
  examples/ecom-furniture-store/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: disabled pre-push hook workflow
  .husky/pre-push
Due: none

chore: packagelock sync
  pnpm-lock.yaml
Due: none

feat: package update
  examples/ecom-furniture-store/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: changeset version
  .changeset/witty-planes-tie.md
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

fix: fixed froward ref warning
  examples/ecom-furniture-store/app/favicon.ico
  examples/ecom-furniture-store/app/globals.css
  examples/ecom-furniture-store/app/layout.tsx
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/package.json
  examples/ecom-furniture-store/public/next.svg
  examples/ecom-furniture-store/public/vercel.svg
  packages/ui/components/Typography/Text.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(example-2): added hero section
  examples/ecom-furniture-store/app/globals.scss
  examples/ecom-furniture-store/app/layout.tsx
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/index.ts
  examples/ecom-furniture-store/components/specific/Home/Hero/Hero.tsx
  examples/ecom-furniture-store/components/specific/Navbar/NavLinks.tsx
  examples/ecom-furniture-store/components/specific/Navbar/Navbar.tsx
  examples/ecom-furniture-store/components/specific/index.ts
  examples/ecom-furniture-store/next.config.mjs
  examples/ecom-furniture-store/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added Product Card & Collections Section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductCard.tsx
  examples/ecom-furniture-store/components/common/index.ts
  examples/ecom-furniture-store/components/specific/Home/Collections/Collections.tsx
  examples/ecom-furniture-store/components/specific/Navbar/Navbar.tsx
  examples/ecom-furniture-store/components/specific/SmoothScroll/SmoothScroll.tsx
  examples/ecom-furniture-store/components/specific/index.ts
  examples/ecom-furniture-store/next.config.mjs
  examples/ecom-furniture-store/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: minor ux improvement
  examples/ecom-furniture-store/components/specific/Navbar/NavLinks.tsx
Due: none

feat: improved design & code quality
  examples/ecom-furniture-store/components/common/ProductCard/ProductCard.tsx
  examples/ecom-furniture-store/components/specific/Home/Collections/Collections.tsx
Due: none

refactor(productCard): refactored and enforced SOLID principles
  examples/ecom-furniture-store/components/common/ProductCard/ProductCard.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductImage.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductName.tsx
  examples/ecom-furniture-store/components/common/ProductCard/ProductPrice.tsx
Due: none

feat: added About Us section
  examples/ecom-furniture-store/app/page.tsx
  examples/ecom-furniture-store/components/specific/Home/AboutUs/AboutUs.tsx
  examples/ecom-furniture-store/components/specific/index.ts
Due: none
